.red {
    color: yellow !important;
  }
  .red {
    font-size: large !important;
  }
  
  .list-unstyled {
    float: right;
  }
  
  body {

    background-color: rgb(24, 23, 17);
  }
  
  
  @media screen and (max-width: 768px) {
    body {
      background-color: rgb(104, 181, 201);
    }
  
    .container {
      width: 100% !important;
    }
  }
  
  
  @media screen and (max-width: 480px) {
  
    .container {
      width: 100% !important;
    }
  
    nav {
      width: 100% !important;
    }
  }
  
  .footer {
    text-align: center;
    color: red;
    background-color: transparent;
    margin-top: 20px;
  }

  h1 {
    
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
  }